body{
    background-color: #F2BC1B;
    font-family: 'Pixelify Sans';
    cursor: pointer;
}

p{
    font-size: 100px;
    text-align: center;
    color: #400B15;
    margin-top: 3px;
    margin-bottom: 3px;   
}

h3{
    text-align: center;
    color: #400B15;
}

.menu{
    text-align: center;
    margin-top: 3px;
    color: #400B15;
}

button{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background-color: #BF2C38;
    color: #F2BC1B;
    border-radius: 10px;
        
}

.sonido{
    margin-top: 100px;
    text-align: center;
}

.botonAudio{
    width: 100px;
    height: 100px;
    border: purple;
    color: blue;
    size: 50px;

}

.tablero {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 180px;
    height: 180px;
    background-color: #BF613F;
    padding: 10px;
    place-self: center;

  }

  .tablero > div {
    background-color: #F28E13;
    border: 1px solid #400B15;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }


    
  
/*Paleta de colores usada*/

.color1 {color: #BF2C38;}
.color2 {color: #400B15;}
.color3 {color: #F2BC1B;}
.color4 {color: #F28E13;}
.color5 {color: #BF613F;}