body{
    background-color: #F2BC1B;
    font-family: 'Pixelify Sans';
    cursor: pointer;
}

p{
    font-size: 100px;
    text-align: center;
    color: #400B15;
    margin-top: 3px;
    margin-bottom: 3px;   
}

h3{
    text-align: center;
    color: #400B15;
    margin-top: 2px;
}

.menu{
    text-align: center;
    margin-top: 2px;
    color: #400B15;
}

.reproductor{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    color: #F2BC1B;
    border-radius: 10px;
}

#OFF{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    color: #F2BC1B;
    border-radius: 10px;
}

.tablero {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    background-color: #BF613F;
    padding: 10px;
    place-self: center;
  }

  .tablero > div {
    background-color: #F28E13;
    border: 1px solid #400B15;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

 .celda{
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
}

.marcador{
    font-size: 20px;
    text-align: center;
    color: #400B15;
}

.flex-container-audio{
    display: flex;
    flex-wrap: nowrap;
    background-color: #F2BC1B;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    gap: 50px; 
}

.flex-container-audio > div {
    background-color: #F2BC1B;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container-tablero {
    display: flex;
    flex-wrap: nowrap;
    background-color: #F2BC1B;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.flex-container-tablero > div {
    background-color: #BF2C38;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

table, th, td {
    border:5px solid #BF2C38;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F28E13;
    width: 180px;
    height: 28px;
    
  }

#numH{
    text-align: center;
}  

#numM{
    text-align: center;
}
  
/*Paleta de colores usada*/

.color1 {color: #BF2C38;}
.color2 {color: #400B15;}
.color3 {color: #F2BC1B;}
.color4 {color: #F28E13;}
.color5 {color: #BF613F;}